@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply px-4 py-2 rounded-lg font-medium transition-colors;
	}
	.btn-primary {
		@apply bg-rowing-blue text-white hover:bg-opacity-90;
	}
}

body {
	@apply bg-gray-50;
}
